.image {
    max-width: 100%;
    height: 150px;
}

.input {
    margin-right: 10px;
}
.title-image-container {
    min-width: 550px;
    text-align: center;
}
.header-container {
    padding-top: 25px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 50px;
}



.title {
    margin-bottom: 5px;
    font-size: larger;
    font-weight: 600;
}

.btn {
    background-color: dodgerblue;
}