<p>pip works!</p>
<!--<h4>built-in pipes</h4>
<div>{{ user.fname |uppercase}} {{ user.lname}} </div>
<div>
    {{ user.DOB | date:'MM'}}
</div>
<div>
    {{ user.salary | currency:'EUR'}}
</div>
<div>{{ user |json }}</div>
Chaining pipes:<div>{{ user.DOB | date:'MMMM' | uppercase }}</div>

Short:<div> {{ user.DOB | date:'short' }}</div>
meduim:<div> {{ user.DOB | date:'medium' }}</div>
long:<div> {{ user.DOB | date:'long' }}</div>
full:<div> {{ user.DOB | date:'full' }}</div>
shortdate:<div> {{ user.DOB | date:'shortDate' }}</div>
meddate:<div> {{ user.DOB | date:'mediumDate' }}</div>
longdate:<div> {{ user.DOB | date:'longDate' }}</div>
fulldate:<div> {{ user.DOB | date:'fullDate' }}</div>
shorttime:<div> {{ user.DOB | date:'shortTime' }}</div>
medtime:<div> {{ user.DOB | date:'mediumTime' }}</div>
longtime:<div> {{ user.DOB | date:'longTime' }}</div>
fulltime:<div> {{ user.DOB | date:'fullTime' }}</div>

<h3>custom pipes</h3>
<div>
    {{ user.city | mart:user.city}}
</div> 
<div>
    {{ user.city | mart:user.citycode}}
</div>-->
<!--<div [innerHTML] = "user.city |mark:user.city"></div> -->

<h2> your order is :{{ orderst }}</h2>